rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /reviews/{reviewId} {
      allow read: if true;
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.userId;
    }
    
    match /users/{userId} {
      allow read: if true;
      allow create: if request.auth != null && request.auth.uid == userId &&
                  request.resource.data.displayName is string &&
                  request.resource.data.email is string &&
                  (!('location' in request.resource.data) || request.resource.data.location is latlng);
      allow update: if request.auth != null && request.auth.uid == userId;
      allow delete: if false;
    }

    match /user-posts/{userPostId} {
      allow read: if true;
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.userId;
    }

    match /articles/{articleId} {
      allow read: if true;
      allow write: if false; // Writes are disabled now that seeding is complete.

      match /comments/{commentId} {
        allow read: if true;
        allow create: if request.auth != null && request.auth.uid == request.resource.data.userId
                      && request.resource.data.text is string
                      && request.resource.data.text.size() > 0;
        allow update, delete: if request.auth != null && request.auth.uid == resource.data.userId;
      }
    }
  }
}
