@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 336 67% 96%;
    --foreground: 240 10% 3.9%;
    --card: 336 67% 96%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 336 82% 66%;
    --primary-foreground: 336 100% 10%;
    --secondary: 336 20% 90%;
    --secondary-foreground: 240 10% 3.9%;
    --muted: 336 20% 90%;
    --muted-foreground: 240 5% 45.1%;
    --accent: 288 44% 60%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 336 20% 85%;
    --input: 336 20% 88%;
    --ring: 336 82% 66%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 288 80% 6%;
    --foreground: 336 67% 96%;
    --card: 288 80% 6%;
    --card-foreground: 336 67% 96%;
    --popover: 288 80% 4%;
    --popover-foreground: 336 67% 96%;
    --primary: 336 82% 66%;
    --primary-foreground: 336 100% 10%;
    --secondary: 288 44% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 288 44% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 288 44% 60%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 288 44% 15%;
    --input: 288 44% 15%;
    --ring: 288 44% 70%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
